<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header>
    <h1>Welcome to Book!</h1>
</header>
<main>
    <h1 th:text="${inBook.title}">Title of book!</h1>
    <p th:text="'The ISBN is ' + ${inBook.isbn}">The ISBN is 1234567890</p>
    <p th:text="${inBook.description}">Description!!!!!</p>
    <ul>
        <li th:each="author: ${inBook.authors}"><a th:href="'/authors/' + ${author.id}" th:text="${author.name}">Sample author name</a></li>
    </ul>
</main>
</body>
</html>