<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Welcome to Book!</h1>
</header>
<main>
    <h1 th:text="${inBook.title}">Title of book!</h1>
    <p th:text="'The ISBN is ' + ${inBook.isbn}">The ISBN is 1234567890</p>
    <p th:text="${inBook.description}">Description!!!!!</p>
    <ul>
        <li th:each="author: ${inBook.authors}"><a th:href="'/authors/' + ${author.id}" th:text="${author.name}">Sample author name</a></li>
    </ul>
    <br>
    <hr>
    <h2>Reviews</h2>
    <ul>
        <li th:each="review:${inBook.reviews}"><div class="review" th:text="${review}"></div></li>
    </ul>

    <form th:action="'/books/'+${inBook.id}" method="POST">
        <input type="radio" id="bookOwner" name="OwnerStatus" value="book">
        <label for="bookOwner">Owner</label><br>
        <input type="radio" id="libraryUser" name="libraryUser" value="library">
        <label for="libraryUser">Check out of Library</label><br>
        <label for="review">Enter Review</label><br>
<!--        <input type="text" id="review" name="review" placeholder="Great book ever"><br>-->
        <textarea id="review" name="review" rows="4" cols="50"></textarea>


        <input type="submit" value="Submit">
    </form>

</main>
</body>
</html>