<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header>
    <h1>Welcome to Books!</h1>
</header>
<section class = "book-collection">
    <ul>
<!--        <li th:each="myBook: ${books}"><a th:href="|/books/${myBook.id}|" th:text="${myBook.title}">Sample Book Title</a></li>-->
        <li th:each="myBook: ${books}"><a th:href="'/books/' + ${myBook.id}" th:text="${myBook.title}">Sample Book Title</a></li>
    </ul>
</section>
</body>
</html>